{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}"> <!-- Agregamos la referencia al nuevo archivo CSS -->
 
</head>
<body>
    <div class="navbar">
        <!-- Contenido de la barra de navegación -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/deportes">Deportes</a></li>
            <li><a href="/ver-foros">Comunidad</a></li>
            
            <!-- Agregar el enlace "Contactos" solo cuando el usuario esté autenticado -->
            {% if saludo %}
                <li><a href="/contactos">Contactos</a></li>
                <li><a href="/perfil">Perfil</a></li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <li><button type="submit">Logout</button></li>
                </form>
            <!-- Agregar el botón de login dentro de la barra de navegación -->
            {% elif login_button %}
                <li><a href="{% url 'login' %}" class="button">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        <h1>Tu Perfil</h1>
        {% if otra_clase %}
        <div class="profile-details">
            <img src="{% if otra_clase.foto_de_perfil %}{{ otra_clase.foto_de_perfil.url }}{% else %}{% static 'img/default_profile.png' %}{% endif %}" alt="Foto de perfil">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <hr>
        </div>
        <div>
            <hr>
            <h3>Nombre De Usuario {{ user.username }}</h3>
            <hr>
            <p>Descripción: <span id="descripcion">{{ otra_clase.descripcion }}</span> </p>  
            <hr>
            <p>Correo electrónico: {{ user.email }}</p>
            <hr>
        </div>
        <hr>
        <p>
            <button id="editarEdadBtn">Editar</button>
            <button id="cerrarEdicionBtn" class="hidden">Cerrar</button>
        </p>
        <form id="actualizarDatosForm" method="post" enctype="multipart/form-data" class="hidden">
            <h2>Actualizar datos </h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
        </form>
        {% endif %}
        <hr>
        <h2>Foros Creados por {{ user.username }}</h2>
        <ul class="forum-list">
            {% for foro in foros_creados %}
            <li class="forum-item">
                <span class="forum-title"><a href="{% url 'detalle_foro' foro.id %}">{{ foro.titulo }}</a></span>
                {% if foro.creador == user %}
                <form action="{% url 'borrar_foro' foro.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="forum-delete-btn">Borrar</button>
                </form>
                {% endif %}
            </li>
            <hr class="hr-line">
            {% endfor %}
        </ul>
        {% if inscripciones_usuario %}
    <h2>Inscripciones de deportes:</h2>
    <ul>
        {% for inscripcion in inscripciones_usuario %}
        <li  class="elemento-inscripcion">{{ inscripcion.deporte.nombre }} - {{ inscripcion.fecha_inscripcion }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </div>
    
 
    <script>
        const editarEdadBtn = document.getElementById('editarEdadBtn');
        const cerrarEdicionBtn = document.getElementById('cerrarEdicionBtn');
        const actualizarDatosForm = document.getElementById('actualizarDatosForm');
    
        editarEdadBtn.addEventListener('click', () => {
            // Mostrar el formulario de actualización de datos
            actualizarDatosForm.classList.remove('hidden');
            // Ocultar el botón de editar y mostrar el botón de cerrar
            editarEdadBtn.classList.add('hidden');
            cerrarEdicionBtn.classList.remove('hidden');
        });
    
        cerrarEdicionBtn.addEventListener('click', () => {
            // Ocultar el formulario de actualización de datos
            actualizarDatosForm.classList.add('hidden');
            // Ocultar el botón de cerrar y mostrar el botón de editar
            cerrarEdicionBtn.classList.add('hidden');
            editarEdadBtn.classList.remove('hidden');
        });
    </script>
</body>
</html>