{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>
        .container {
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff; /* Fondo blanco */
        }

        h2 {
            text-align: center;
        }

        form {
            margin-top: 20px;
        }

        button {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container" id="register-container">
        <h2>Registro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>